<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="[tenant]" />
    <add key="ida:ClientId" value="[clientId]" />
    <add key="ida:AppKey" value="[AppKey]" />
    <add key="ida:subscriptionIds" value="[subscriptionIds]"/>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
  </appSettings>
</configuration>